#header {
  width: 100vw;
  height: 100px;

  background-color: rgb(120, 152, 248);
}
#header > div {
  margin: 0 auto;
  width: 1200px;
}
#header h1 {
  float: left;

  width: 200px;
  height: 100px;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
  line-height: 100px;
  color: #ffffff;
}

.searchBox {
  float: left;

  margin: 30px 0 0 20px;
  width: 500px;
  height: 45px;

  border-radius: 10px;
  background-color: #ffffff;
}
.searchBox img {
  float: left;

  margin: 5px;
  width: 35px;
  height: 35px;
}
.searchBox input {
  float: left;

  box-sizing: border-box;
  padding-left: 5px;

  margin-top: 5px;
  width: 430px;
  height: 35px;

  border: none;

  line-height: 35px;
}
.searchBox input:focus {
  outline: none;

  border-bottom: rgba(0, 0, 0, 0.3) 1px solid;
}
